@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
}
header{
    background-color: gray;
    color: white;
    padding: 10px;
    
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}
header h1{
    /*border: 1px solid black;*/
    flex: 0 0 200px;
    padding: 10px;
}
#burguer{
    display: none;
}


nav{
    /*border: 1px solid black; */
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}
nav a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
  
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}