@charset "UTF-8";


@media screen and (min-width:600px) and (max-width: 992px ) {
    body{
         background-image: linear-gradient(to top,rgb(45, 6, 117),black);
    }
    section#login{
        background-color: rgba(245, 241, 241, 0.856);
        width: 80vw;
        height: 300px;
    }
    section#login > div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }
    section#login >.formulario{
        float: left;
        width: 60%;
        
    }
    main{
        width: 768px;
    }
}
@media screen and (min-width: 992px) {  
      body{
        background-image: linear-gradient(to bottom,rgb(45, 6, 117),black);
    }
    section#login{
        background-color: rgba(245, 241, 241, 0.856);
        width: 800px;
        height: 300px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login >.formulario{
        float: left;
        width: 50%;
    }
}
