@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --cor0:black;
    --cor1:white;
    --cor2:darkgray;
    --cor3:rgb(46, 44, 44);
    --cor4:rgba(0, 0, 0, 0.349);


    --font2:"Passion One", sans-serif;
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font3:"Josefin Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-weight: bolder;
    font-size: 2.5vw;
}
section.normal {
    background-color:var(--cor1);
    color: var(--cor0);
}
section.imagem {
    background-color: var(--cor3);
    color: var(--cor1);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: var(--cor4);
  

}
section > p {
    padding-bottom: 2em;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}
section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center ;
    
} 