@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:928px) {
    section{
        width: 500px;
        height: 400px;
    }
}
@media screen and (min-width: 928px) {
    section{
        width: 700px;
        height: 400px;
    }
}